@model IQuad2.ViewModels.AppointmentViewModel
@{
    ViewBag.Title = "AppointmentForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Set Appointment</h2>
<div class="bg">
    @using (Html.BeginForm("Save", "Appointment"))
    {

        <div class="form-group">

            @Html.LabelFor(m => m.appointment.PurposeOfVisit)
            @Html.TextAreaFor(m => m.appointment.PurposeOfVisit, new { @class = "form-control" })

        </div>
        <div class="form-group">

            @Html.LabelFor(m => m.appointment.Date)
            @Html.TextBoxFor(m => m.appointment.Date, "{0:d MMM yyyy}", new { @class = "form-control date-picker" })
            @Html.ValidationMessageFor(m => m.appointment.Date)
        </div>
        <div class="form-group">

            @Html.LabelFor(m => m.appointment.StartTime)
            @Html.TextBoxFor(m => m.appointment.StartTime, new { @class = "form-control timepicker", required = "required" })
            @Html.ValidationMessageFor(m => m.appointment.StartTime)
        </div>
        <div class="form-group">

            @Html.LabelFor(m => m.appointment.EndTime)
            @Html.TextBoxFor(m => m.appointment.EndTime, new { @class = "form-control timepicker" })
            @Html.ValidationMessageFor(m => m.appointment.EndTime)
        </div>
        <div class="form-group">

            <label>Doctors</label>
            @Html.DropDownListFor(m => m.appointment.DoctorId, new SelectList(Model.Doctors, "Id", "Fname"), "Select Doctor", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.appointment.DoctorId)
        </div>
        @Html.HiddenFor(m => m.appointment.Id);
        @Html.HiddenFor(m => m.Patients)
        @Html.AntiForgeryToken()



        <button type="submit" class="btn btn-primary">Save Appointment</button>

        @section scripts{

            <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
            <script src="~/Scripts/jquery-3.3.1.min.js"></script>
            <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

            <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
            <script src="~/Scripts/jquery.timepicker.js"></script>
            <script src="~/Scripts/jquery.timepicker.min.js"></script>

            <script type="text/javascript">

                $(function () {
                    $(".date-picker").datepicker({
                        dateFormat: 'dd/M/yy',
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "2015:2025",
                        // gotoCurrent: true.... implement this a next time

                    });

                });
                $(document).ready(function () {
                    $('input.timepicker').timepicker({
                    });
                });

            </script>
        }
    }
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />





