@model IEnumerable<IQuad2.Models.Appointment>

@{
    ViewBag.Title = "appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointments</h2>
<div class="bk">
    <table id="appointment" class="table table-bordered table-hover">
        <thead>

            <tr>


                <th><h5>Patient Name</h5></th>
                <th><h5>Purpose Of Visit</h5></th>
                <th><h5>Doctor Name</h5></th>
                <th><h5>Date</h5></th>
                <th><h5>Start Time</h5></th>
                <th><h5>End Time</h5></th>

            </tr>
        </thead>
        <tbody>

            @foreach (var appointment in Model)
            {
                <tr>

                    <td >@appointment.Patient.Fname @appointment.Patient.Lname</td>
                    <td>@appointment.PurposeOfVisit</td>
                    <td>@appointment.Doctor.Fname @appointment.Doctor.Lname</td>
                    <td>@appointment.Date.ToLongDateString()</td>
                    <td>@appointment.StartTime.ToLongTimeString()</td>
                    <td>@appointment.EndTime.ToLongTimeString()</td>

                </tr>
            }

        </tbody>
    </table>
</div>