@model IQuad2.ViewModels.AppointmentViewModel
@{
    ViewBag.Title = "Set Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Set_Appointment</h2>
@using (Html.BeginForm("Create", "Appointment"))
{


    <div class="form-group">

        @Html.LabelFor(m => m.appointment.PurposeOfVisit)
        @Html.TextAreaFor(m => m.appointment.PurposeOfVisit, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.appointment.Date)
        @Html.TextBoxFor(m => m.appointment.Date, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.appointment.StartTime)
        @Html.TextBoxFor(m => m.appointment.StartTime, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.appointment.EndTime)
        @Html.TextBoxFor(m => m.appointment.EndTime, new { @class = "form-control" })
    </div>
    <div class="form-group">

        <label>Doctors</label>
        @Html.DropDownListFor(m => m.Doctor, new SelectList(Model.Doctor, "UserTypeId", "Id"), "Select Doctor", new { @class = "form-control" })
               
    </div>
    <button type="submit" class="btn btn-primary">Set Appointment</button>
  

}







 