<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavBar")


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row mb-5 element-animate">
                    <div class="col-md-3 mb-5">
                        <h3>Services</h3>
                        <ul class="footer-link list-unstyled">
                            <li><a href="#">Find a doctor</a></li>
                            <li><a href="#">Procedures &amp; Treatments</a></li>
                            <li><a href="#">Online Services</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-5">
                        <h3>Latest News</h3>
                        <ul class="footer-link list-unstyled">
                            <li><a href="https://edition.cnn.com/health">Health Care Professional News</a></li>
                            <li><a href="#">Events &amp; Conferences</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-5">
                        <h3>About</h3>
                        <ul class="footer-link list-unstyled">
                            @Html.ActionLink("About", "About", "Home")
                            <li><a href="#">Feedback</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-5">
                        <h3>Location &amp; Contact</h3>
                        <p></p>
                        <p class="mb-5"> <b>Address:</b> 123 White Hall,Kingston 5, Jamaica</p>

                         <p class="mb-5"> <b>Email:</b> <a href="mailto:i-Quad@gmail.com"> i-QuadMAS@gmail.com</a></p>

                         <p class="mb-5"><b> Phone:</b> (876) 963-8754 / (876) 963-7371</p>


                    </div>
                </div>

                <div class="row pt-md-3 element-animate">
                    <div class="col-md-12">
                        <hr class="border-t">
                    </div>
                    <p>&copy; 2019 - I-Quad Medical Appointment System | All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)





    <br />

</body>
</html>
