<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavBar")

    


    <div class="container">
        <div>

            <div id="carousel " class="carousel slide">
                <ol class="carousel-indicators">

                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                </ol>

                <div class="carousel-inner">
                    <div class=" item active">
                        <img src="~/Pictures/slider2 (2).jpg" />

                        <div class="container">
                            <div class="carousel-caption">
                                <p>Don’t look further. This is your Doctor</p>
                                <h1>  WE ARE THE TEAM OF EXCELLENCE</h1>
                            </div>
                        </div>

                    </div>

                    <div class="item">
                        <img src="~/pictures/slider-2.jpg" />

                        <div class="container">
                            <div class="carousel-caption ">
                                <h1> WE CARE FOR YOU</h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <script>
                $("#carousel").carousel(
                    {
                        interval: 2000
                    });
            </script>

        </div>
        <hr />
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)





    <br />

</body>
</html>
